* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to right, lightblue , lightgray, white);

    
}

.board {
    
    margin-top: 6rem;
    width: 40%;
    height: 80vh;
    align-items: center;
    justify-items: center;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    
    

}

.move {
    width: 90%;
    height: 90%;
    border: solid 1px gray;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11rem;

    transition: 0.2s ease-in;
}

.move:hover {
    transform: scale(1.06);
    cursor: pointer;
}

.hud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 5rem;
}

.reset-btn {
    padding: .3rem .5rem;
    font-size: 14px;
    width: 8rem;
    
    background-color: lightblue;
    /* border: solid 1px gray; */
    border: none;
    color: slategray;

    transition: 0.2s ease-in;
    
}

.reset-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.player {
    border: solid 1px lightgray;
    padding: 1rem 3rem;
    
}

.current-player {
    border: solid 1px slategray;
}